.chatsBar {
  background: #202123;
  transition: transform;
  display: block;
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;
}

.chatsBar .wrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatsBar main {
  flex: 1;

  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chatsBar header {
  position: sticky;
  top: 0;

  background: #202123;
  padding: 0.5rem;

  display: flex;
  gap: 0.5rem;

  border-bottom: 1px solid #ffffff33;
}

.chatsBar header button:nth-child(1) {
  flex: 1;
  text-align: left;
}

.chatsBar footer {
  position: sticky;
  bottom: 0;
  background: #202123;
  padding: 1rem;

  border-top: 1px solid #ffffff33;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .chatsBar {
    position: fixed;
    inset: 0;
    z-index: 3;
  }

  .chatsBar[data-open="on"] {
    transform: translateX(0%);
  }

  .chatsBar[data-open="off"] {
    transform: translateX(-100%);
  }

  .chatsBar .wrapper {
    min-width: auto;
  }
}
