.chatsBar {
  transition: transform 0.2s, width 0.2s, background 0.4s;
  display: block;
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;
}

.chatsBar .wrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #202123;
}

.chatsBar main {
  flex: 1;

  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chatsBar main button {
  width: 100%;
}

.chatsBar header {
  position: sticky;
  top: 0;

  background: #202123;
  padding: 0.5rem;

  display: flex;
  gap: 0.5rem;

  border-bottom: 1px solid #ffffff33;
}

.chatsBar header a:nth-child(1) {
  flex: 1;
  text-align: left;
}

.chatsBar footer {
  position: sticky;
  bottom: 0;
  background: #202123;
  height: 3.813rem;

  border-top: 1px solid #ffffff33;
  font-weight: bold;

  display: flex;
  align-items: center;
  padding: 0 0.5rem;

  gap: 0.5rem;
}

.chatsBar footer span {
  flex: 1;
}

.chatsBar footer button {
  text-align: center;
}

.avatar {
  border-radius: 100%;
}

@media (max-width: 1024px) {
  .chatsBar {
    position: fixed;
    inset: 0;
    z-index: 3;
  }

  .chatsBar .wrapper {
    width: 85%;
  }

  .chatsBar[data-open="on"] {
    transform: translateX(-100%);
  }

  .chatsBar[data-open="off"] {
    transform: translateX(0%);
    background: #20212379;
  }

  .chatsBar .wrapper {
    min-width: auto;
  }
}

@media (min-width: 1024px) {
  .chatsBar[data-open="on"] {
    width: 320px;
  }

  .chatsBar[data-open="off"] {
    width: 0px;
  }
}
