.buttonContainer {
  padding: 0.75rem;
  font-weight: bolder;
  text-align: left;

  background: #ffffff33;
  border: none;
  cursor: pointer;

  transition: background 0.2s, opacity 0.2s;
  border: 1.5px solid transparent;
}

.buttonContainer:hover {
  opacity: 0.8;
}

.buttonContainer span {
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.outlineButton {
  border-color: #ffffff33;
  background: transparent;
}

.ghostButton {
  background: transparent;
}

.buttonContainer[data-selected="true"] {
  background: #343541;
}
