.container {
  display: grid;
  grid-template-columns: 320px auto;
  height: 100vh;
}

.chat {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

.chat header {
  display: flex;
  justify-content: center;
  padding: 1.15rem;

  border-bottom: 1px solid #ffffff33;

  position: sticky;
  top: 0;
  background: #343541;
}

.chat main {
  flex: 1;
  display: block;
}

.chat main .messageContainer {
  /* background: #444654; */
  padding: 0 1rem;
}

.chat main .message {
  display: flex;
  gap: 1rem;

  max-width: 1024px;
  width: 100%;
  margin: auto;

  padding: 1.5rem 0;
}

.chat main .message img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
}

.chat main .message p {
  line-height: 1.75;
  color: #d1d5db;
}

.chat footer {
  display: block;

  position: sticky;
  bottom: 0;

  background: #343541;
  padding: 0 1rem;
}
